footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .footer-btn__link {
        color:rgb(229, 229, 229);
        font-size: 20px;
        font-weight: 400;
        border-radius: 10px;
        display: inline-block;
        width: 370px;
        padding: 5px 30px;
        background-color: #CF7A2C;

        &:hover {
            transition: ease-in-out 0.1s;
            background-color: #98581ced;
        }

        &:active {
            font-size: 21px;
            background-color: #7e4b1bed
        }
    }
    .footer-cont__text {
        text-align: center;
    }
    .footer-cont__logo{
        text-align: center;
    }
    
}